[submodule "P1"]
	path = P1
	url = https://github.com/yycho0108/U_ML_P1.git
[submodule "P2"]
	path = P2
	url = https://github.com/yycho0108/U_ML_P2.git
	branch = master
[submodule "P3"]
	path = P3
	url = https://github.com/yycho0108/U_ML_P3.git
[submodule "P4"]
	path = P4
	url = https://github.com/yycho0108/U_ML_P4.git
